venv
__pycache__
data
*.pyc
*.pyo
*.pyd
.Python
*.pdf
*.csv
*.png
!app/logo.png
!app/nepali_*.png
.DS_Store
DS_Store
*.log
*.tmp
temp/
tmp/
*.pt
!app/best.pt
.ipynb_checkpoints
*.ipynb_checkpoints
.venv
